h1{
	text-align: center;
	font-size: 30px;
	width: 100%;
	height: 50px;
	
}
#ss{
	background-color:#939597;

}
h2{
	
	text-align: center;
}

.qd{
	border-radius: 100px;
	

}

.principal{
	display: flex;
	/* position: relative;
	bottom: 40px; */
	
	
}

.gauche{
	float: left;
	background-color:#939597; 
	font-size: 15px;  
	width: 40%;
	
	

}

.droite{
	float: right;
	background-color:#e0e6e5;
	font-size: 15px;
	width: 60%;
	
}
.corps{
	background-color: #fcfdfd;
	border: 6px solid;
	border-radius: 6px;
	width: 60%;
	margin: auto;
}


#deplace{
	padding-left: 90px;
}

.okay{
	padding-right: 90px;
}

a{
	text-decoration: none;
}

p{
	margin-left: 5%;
}

img{
	margin-left: 25%;
}

.soft{
	position: relative;
	bottom: 40px;
	right: 5px;
}

#res{
	position: relative;
	bottom: 40px;
	right: 40px;
}

.puz{
	position: relative;
	bottom: 44px;
	left: 12px;
}